*{
  font-family: 'Courier New', Courier, monospace;
}
h2{
  text-decoration: underline;
  text-align: center;
}
#the-h2{
  font-size: 30px;
  text-transform: uppercase;
}
.c-the-h2{
  border: 2px solid green;
  border-radius: 10px;
}
img{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 2px solid gray;
}